.vscode/*
*.pyc
*.png

EPI_predictor/TargetFinder/input_features/
EPI_predictor/TargetFinder/input_to_TargetFinder/
EPI_predictor/TargetFinder/input_to_TargetFinder_Koga/

EPI_predictor/TransEPI/output/*/*/model/
EPI_predictor/TransEPI/output/*/*/tensorboard/

EPI_predictor/TransEPI/output_*

input_to_generator_Koga/

input_to_EPI_predictor/BENGI-P_filteredCommonTest-N/GM12878.csv

output_from_generator_11-1/
output_from_generator_Koga/
output_from_neg_generator_CBOEP_version/


